anyio
arabic-reshaper
asgiref
asn1crypto
CacheControl
cachetools
certifi
cffi
charset-normalizer
cryptography
cssselect2
Django<5.0
django-jazzmin
firebase_admin
freetype-py
google-api-core
google-auth
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
h11
h2
hpack
html5lib
httpcore
httpx
hyperframe
idna
lxml
msgpack
mysqlclient
oscrypto
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
# pycairo
pycparser
pyHanko
pyhanko-certvalidator
PyJWT
pypdf
python-bidi
PyYAML
reportlab
requests
# rlPyCairo
rsa
six
sqlparse
# svglib
tinycss2
typing_extensions
tzdata
tzlocal
uritools
urllib3
webencodings
# xhtml2pdf
python-dotenv
