{% extends 'core/shared/base.html' %}
{% block title %}Form Layanan{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow border-0">
                <div class="card-header bg-dark text-white fw-bold">
                    {% if is_edit %}Edit Layanan: {{ item.nama_layanan }}{% else %}Tambah Layanan Baru{% endif %}
                </div>
                <div class="card-body p-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Kode Layanan</label>
                            <input type="text" name="kode_layanan" class="form-control" value="{{ item.kode_layanan }}" {% if is_edit %}readonly{% endif %} required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Nama Layanan (Contoh: Perpanjang STNK 5 Tahunan)</label>
                            <input type="text" name="nama_layanan" class="form-control" value="{{ item.nama_layanan }}" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Harga Jasa (Angka Saja)</label>
                            <input type="number" name="harga_jasa" class="form-control" value="{{ item.harga_jasa }}" required>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Estimasi Waktu</label>
                            <input type="text" name="estimasi_waktu" class="form-control" value="{{ item.estimasi_waktu }}" placeholder="Contoh: 3 Hari Kerja">
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary-custom">Simpan Data</button>
                            <a href="{% url 'master_layanan_list' %}" class="btn btn-outline-secondary">Batal</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
